* {
  padding: 0;
  margin: 0;
  font-family: 'Arial', sans-serif;
}

#main {
  margin: 0 auto;
  width: 700px;
}

button {
  float: right;
}
#header {
  margin-top: 50px;
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

.clearfix {
  overflow: auto;
}

.contact-title {
  font-size: 11px;
  margin-right: 10px;
  color: #999999;

}
.contact-data {
  font-size: 11px;
  color: #cccccc;
}

h1 {
  font-size: 40px;
  color: #F5A623;
  line-height: 48px;
  display: inline;
  margin: 0 20px 0 0;
}

h2 {
  font-size: 24px;
  color: #999999;
  line-height: 29px;
  margin: 50px 0 20px 0;
  font-weight: normal;
}

h3 {
  font-size: 18px;
  color: #cccccc;
  margin: 20px 15px 0 0;
}


.date-text {
  font-style: italic;
  font-size: 14px;
  color: #999999;
  margin: 0 20px 25px 0;
  display: inline;
}

div#projects div.project-entry div.date-text {
  display: block;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #999999;
  display: inline;
  margin-bottom: 25px;
}

p {
  font-size: 14px;
  color: #333333;
  line-height: 24px;
}

a {
  color: #ff9900;
  text-decoration: none;
}

.work-entry, .project-entry {
  margin-top: 10px;
  margin-bottom: 15px;
}


div.work-entry a, div.project-entry a {
  font-size: 25px;
  display: block;
}

div.project-entry:last-child, div.work-entry:last-child, div.education-entry:last-child {
  padding-bottom: 20px;
  border-bottom: 1px black solid;
}


.welcome-message {
  font-family: "Georgia", serif;
  font-style: italic;
  font-size: 36px;
  color: #222222;
  margin-top: 50px;
}

#skillsH3 {
  color: #ff9900;
  display: none;
  margin-bottom: 10px;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

ul {
  list-style-type: none;
  margin-bottom: 50px;
}

.biopic {
  float: left;
  width: 200px;
  display: none;
  margin-right: 50px;
}

img {
  margin: 0 10px 8px 0;
}

#letsConnect {
    display: inline-block;
    margin-top: 20px;
}

#map {
  display: block;
  height: 100%;
  width: 100%;
}

#mapDiv {
  height: 400px;
  width: 100%;
}

#skillsH3, .biopic {
    display: block;
}


@media only screen and (max-width: 750px) {
  div#main {
    padding: 20px;
    width: 80%;
  }
  ul#skills, ul#topcontacts {
    display:block;
  }

  
  div#main div#header img {
    display: none;
  }

  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
}
